Repository yorickpeterse/yorickpeterse.com: changes, and which GitLab CI jobs are due for each by the changed paths.
All: docker:vale, docker:ruby, lint:vale, deploy

.gitlab-ci.yml:

---

.docker: &docker
  stage: docker
  services:
    - docker:dind
  image: docker:git
  script:
    - ./docker/build "${CI_REGISTRY_IMAGE}:${IMAGE}" docker/${IMAGE}/Dockerfile

stages:
  - docker
  - lint
  - deploy

docker:vale:
  <<: *docker
  variables:
    IMAGE: vale
  only:
    changes:
      - docker/vale/Dockerfile

docker:ruby:
  <<: *docker
  variables:
    IMAGE: ruby
  only:
    changes:
      - docker/ruby/Dockerfile

lint:vale:
  image: registry.gitlab.com/yorickpeterse/yorickpeterse.com:vale
  stage: lint
  before_script:
    - vale --version
  script:
    - vale --no-wrap --sort source/articles
  only:
    changes:
      - source/articles/**/*.html.md

deploy:
  image: registry.gitlab.com/yorickpeterse/yorickpeterse.com:ruby
  stage: deploy
  variables:
    DISTRIBUTION_ID: E38R9TE90MPQA7
    BUCKET: yorickpeterse.com
    AWS_DEFAULT_REGION: eu-west-1
  before_script:
    - ruby --version
    - gem --version
    - bundle --version
    - bundle config set path vendor
    - bundle install --retry=3 --jobs=$(nproc)
  script:
    - rake deploy
  cache:
    paths:
      - vendor
      - build
  only:
    refs:
      - master
    changes:
      - config.rb
      - source/**/*
      - lib/**/*
      - Gemfile
      - Gemfile.lock
  environment:
    name: production
    url: https://yorickpeterse.com

Explicitly install OpenSSL in CI
  docker/ruby/Dockerfile
Due: docker:ruby

Install OpenSSL dev headers in CI
  docker/ruby/Dockerfile
Due: docker:ruby

Update list of social media platforms
  source/articles/inko-a-brief-introduction.html.md
  source/index.html.md
Due: lint:vale, deploy

Quote the date of an old article
  source/articles/contributing-to-my-code.html.md
Due: lint:vale, deploy

Add article about switching to Silverblue
  Rakefile
  config.rb
  source/articles/switching-to-fedora-silverblue.html.md
  source/images/switching-to-fedora-silverblue/keyboard.jpg
  source/stylesheets/all.css.scss
  vale/website/too_wordy.yml
  vale/website/weasel.yml
  vale/write-good/TooWordy.yml
  vale/write-good/Weasel.yml
Due: lint:vale, deploy

Replace a few indented blocks with fenced blocks
  source/articles/switching-to-fedora-silverblue.html.md
Due: lint:vale, deploy

Fixed typo in the Silverblue article
  source/articles/switching-to-fedora-silverblue.html.md
Due: lint:vale, deploy

Remove redundant write-good file
  vale/write-good/Passive.yml
Due: none

Move the reset CSS into the main stylesheet
  source/stylesheets/_reset.scss
  source/stylesheets/all.css.scss
Due: deploy

Use regular CSS instead of Saas
  source/stylesheets/all.css
  source/stylesheets/all.css.scss
Due: deploy

Set up GitHub Actions
  .github/workflows/build.yml
  .github/workflows/image.yml
  .gitlab-ci.yml
  docker/build
  images/ruby/Dockerfile
  images/vale/Dockerfile
Due: none

Drop the ruby container
  .github/workflows/build.yml
  images/ruby/Dockerfile
Due: none

Update Ruby dependencies
  Gemfile.lock
Due: deploy

Use the official Vale GitHub action
  .github/workflows/build.yml
  .github/workflows/image.yml
  images/vale/Dockerfile
Due: none

Remove CC license note from the README
  README.md
Due: none

Don't fail the Vale job
  .github/workflows/build.yml
Due: none

Don't lint .txt files
  .vale.ini
Due: none

Deploy on every commit to main
  .github/workflows/build.yml
Due: none

Install bundler for the deploy job
  .github/workflows/build.yml
Due: none

Use the official Ruby action
  .github/workflows/build.yml
Due: none

Disable progress when syncing with AWS
  Rakefile
Due: none

Update various links to point to GitHub
  source/index.html.md
  source/resume.html.md
Due: deploy

Simplify the CI config a bit
  .github/workflows/build.yml
Due: none

Update the profile picture
  source/images/profile_photo.jpg
  source/layouts/home.haml
Due: deploy

Style the Atom feed
  source/atom.xsl
  source/feed.xml.erb
  source/stylesheets/all.css
Due: deploy

Fixed Atom stylesheet link tag
  source/atom.xsl.erb
Due: deploy

Remove Email from and simplify 404 page
  source/404.html.md
Due: deploy

Fix blockquote styling
  source/stylesheets/all.css
Due: deploy

Add highlights for symbol strings
  source/stylesheets/all.css
Due: deploy

Update Gemfile.lock
  Gemfile.lock
Due: deploy

Replace indented code blocks with fenced blocks
  source/articles/compiling-xpath-to-ruby.html.md
  source/articles/contributing-to-my-code.html.md
  source/articles/debugging-with-pry.html.md
  source/articles/hacking-extconf-rb.html.md
  source/articles/oga-1-0-released.html.md
  source/articles/oga-a-new-xml-and-html-parser-for-ruby.html.md
  source/articles/use-bcrypt-fool.html.md
Due: lint:vale, deploy

Remove contributing article
  source/articles/contributing-to-my-code.html.md
Due: lint:vale, deploy

Quote text that can be mistaken as a footnote
  source/articles/debugging-with-pry.html.md
Due: lint:vale, deploy

Remove write-good Vale rules
  .vale.ini
  vale/write-good/Cliches.yml
  vale/write-good/E-Prime.yml
  vale/write-good/Illusions.yml
  vale/write-good/So.yml
  vale/write-good/ThereIs.yml
  vale/write-good/meta.json
Due: none

Add article about developing languages
  source/articles/a-decade-of-developing-a-programming-language.html.md
  vale/website/too_wordy.yml
  vale/website/weasel.yml
Due: lint:vale, deploy

Clarify avoiding writing a _native_ code generator
  source/articles/a-decade-of-developing-a-programming-language.html.md
Due: lint:vale, deploy

Rephrase interpreter sentence
  source/articles/a-decade-of-developing-a-programming-language.html.md
Due: lint:vale, deploy

Fix "raw" typo
  source/articles/a-decade-of-developing-a-programming-language.html.md
Due: lint:vale, deploy

Change note markup and styling
  source/articles/hacking-extconf-rb.html.md
  source/articles/switching-to-fedora-silverblue.html.md
  source/atom.xsl.erb
  source/stylesheets/all.css
Due: lint:vale, deploy
