Repository yorickpeterse/yorickpeterse.com: changes, and which GitLab CI jobs are due for each by the changed paths.
All: docker:vale, docker:ruby, lint:vale, deploy

.gitlab-ci.yml:

---

.docker: &docker
  stage: docker
  services:
    - docker:dind
  image: docker:git
  script:
    - ./docker/build "${CI_REGISTRY_IMAGE}:${IMAGE}" docker/${IMAGE}/Dockerfile

stages:
  - docker
  - lint
  - deploy

docker:vale:
  <<: *docker
  variables:
    IMAGE: vale
  only:
    changes:
      - docker/vale/Dockerfile

docker:ruby:
  <<: *docker
  variables:
    IMAGE: ruby
  only:
    changes:
      - docker/ruby/Dockerfile

lint:vale:
  image: registry.gitlab.com/yorickpeterse/yorickpeterse.com:vale
  stage: lint
  before_script:
    - vale --version
  script:
    - vale --no-wrap --sort source/articles
  only:
    changes:
      - source/articles/**/*.html.md

deploy:
  image: registry.gitlab.com/yorickpeterse/yorickpeterse.com:ruby
  stage: deploy
  variables:
    DISTRIBUTION_ID: E38R9TE90MPQA7
    BUCKET: yorickpeterse.com
    AWS_DEFAULT_REGION: eu-west-1
  before_script:
    - ruby --version
    - gem --version
    - bundle --version
    - bundle config set path vendor
    - bundle install --retry=3 --jobs=$(nproc)
  script:
    - rake deploy
  cache:
    paths:
      - vendor
      - build
  only:
    refs:
      - master
    changes:
      - config.rb
      - source/**/*
      - lib/**/*
      - Gemfile
      - Gemfile.lock
  environment:
    name: production
    url: https://yorickpeterse.com

Add some notes to the decade of languages article
  source/articles/a-decade-of-developing-a-programming-language.html.md
Due: lint:vale, deploy

Tweak the design in various places
  source/_header.html.haml
  source/articles/a-decade-of-developing-a-programming-language.html.md
  source/articles/hacking-extconf-rb.html.md
  source/articles/switching-to-fedora-silverblue.html.md
  source/atom.xsl.erb
  source/fonts/icons.svg
  source/fonts/icons.ttf
  source/fonts/icons.woff
  source/layouts/home.haml
  source/stylesheets/all.css
Due: lint:vale, deploy

Round a few corners
  source/stylesheets/all.css
Due: deploy

Use Inter font and make more style changes
  source/_head.html.haml
  source/fonts/InterVariable-Italic.woff2
  source/fonts/InterVariable.woff2
  source/layouts/home.haml
  source/stylesheets/all.css
Due: deploy

Change the style of block quotes
  source/stylesheets/all.css
Due: deploy

Ditch Inter
  source/fonts/InterVariable-Italic.woff2
  source/fonts/InterVariable.woff2
  source/stylesheets/all.css
Due: deploy

Remove outdated preload tags
  source/_head.html.haml
Due: deploy

Only use WOFF fonts for the icons
  source/fonts/icons.svg
  source/fonts/icons.ttf
  source/fonts/icons.woff2
  source/stylesheets/all.css
Due: deploy

Add Mastodon link
  source/_head.html.haml
  source/index.html.md
Due: deploy

Fix CSS syntax error
  source/stylesheets/all.css
Due: deploy

Revert "Add Mastodon link"
  source/_head.html.haml
  source/index.html.md
Due: deploy

Remove explicit table cell alignment
  source/articles/a-decade-of-developing-a-programming-language.html.md
Due: lint:vale, deploy

Remove woff icons font
  source/fonts/icons.woff
  source/stylesheets/all.css
Due: deploy

Fix ID of the articles header
  source/layouts/home.haml
Due: deploy

Clean up head meta tag format
  source/_head.html.haml
Due: deploy

Fixed "1.0.0 in 2004" typo
  source/articles/a-decade-of-developing-a-programming-language.html.md
Due: lint:vale, deploy

Fix GitHub Actions job name keys
  .github/workflows/build.yml
Due: none

Fix title of the homepage
  source/index.md
Due: deploy

Use "inko build" instead of "inko run"
  Makefile
Due: none

Use hashing instead of timestamps
  Makefile
  src/wobsite.inko
Due: none

Move site framework into inko-wobsite
  inko.pkg
  src/wobsite.inko
  src/wobsite/fnmatch.inko
  src/wobsite/markdown.inko
  src/wobsite/time.inko
  src/wobsite/url.inko
Due: none

Don't duplicate the Cloudfront ID
  Makefile
Due: none

Tweak border colors
  source/css/all.css
Due: deploy

Update dependencies
  inko.pkg
  src/main.inko
Due: none

Tweak the layout/style in various places
  inko.pkg
  scripts/watch.sh
  source/css/all.css
  source/css/icons.css
  src/layouts.inko
Due: deploy

Fix margin for small screens
  source/css/all.css
Due: deploy

Remove mentions of my SSH and GPG keys
  source/gpg_key.txt
  source/index.md
  source/ssh_keys.txt
Due: deploy

Update the inko-wobsite dependency
  inko.pkg
Due: none

Update dependencies
  inko.pkg
Due: none

Add article about working for GitLab
  source/articles/what-it-was-like-working-for-gitlab.md
  source/css/all.css
  source/images/what-it-was-like-working-for-gitlab/amsterdam_dinner.jpg
  source/images/what-it-was-like-working-for-gitlab/austin_gathering.jpg
  source/images/what-it-was-like-working-for-gitlab/new_orleans.jpg
  source/images/what-it-was-like-working-for-gitlab/sofa_cat.jpg
  source/images/what-it-was-like-working-for-gitlab/sytse_giraffe.jpg
  source/resume.md
  src/main.inko
  src/site/filters.inko
  src/site/layouts.inko
  vale/website/too_wordy.yml
  vale/website/weasel.yml
Due: deploy

Only deploy from main
  .github/workflows/build.yml
Due: none

Fix GitLab article date
  source/articles/what-it-was-like-working-for-gitlab.md
Due: deploy

Add missing space after comma
  source/articles/what-it-was-like-working-for-gitlab.md
Due: deploy

Fix "of of" typo
  source/articles/what-it-was-like-working-for-gitlab.md
Due: deploy

Fix "ignores" typo
  source/articles/what-it-was-like-working-for-gitlab.md
Due: deploy

Fix a few more typos
  source/articles/what-it-was-like-working-for-gitlab.md
Due: deploy

Use the latest stable Inko
  .github/workflows/build.yml
Due: none

Tweak the CSS a little bit
  source/css/all.css
Due: deploy
