Repository yorickpeterse/yorickpeterse.com: changes, and which GitLab CI jobs are due for each by the changed paths.
All: docker:vale, docker:ruby, lint:vale, deploy

docker:vale:
  stage: docker
  services:
  - docker:dind
  image: docker:git
  script:
  - ./docker/build "${CI_REGISTRY_IMAGE}:${IMAGE}" docker/${IMAGE}/Dockerfile
  variables:
    IMAGE: vale

docker:ruby:
  stage: docker
  services:
  - docker:dind
  image: docker:git
  script:
  - ./docker/build "${CI_REGISTRY_IMAGE}:${IMAGE}" docker/${IMAGE}/Dockerfile
  variables:
    IMAGE: ruby

lint:vale:
  image: registry.gitlab.com/yorickpeterse/yorickpeterse.com:vale
  stage: lint
  before_script:
  - vale --version
  script:
  - vale --no-wrap --sort source/articles

deploy:
  image: registry.gitlab.com/yorickpeterse/yorickpeterse.com:ruby
  stage: deploy
  variables:
    DISTRIBUTION_ID: E38R9TE90MPQA7
    BUCKET: yorickpeterse.com
    AWS_DEFAULT_REGION: eu-west-1
  before_script:
  - ruby --version
  - gem --version
  - bundle --version
  - bundle config set path vendor
  ...

Tweak profile photo alt text
  source/layouts/home.haml
Due: deploy

Pin Vale to 2.4.0
  docker/vale/Dockerfile
Due: docker:vale

Set the Vale version when building
  docker/vale/Dockerfile
Due: docker:vale

Add article about libffi-rs 1.0.0
  source/articles/libffi-rs-100.html.md
Due: lint:vale, deploy

Change the style for inline code blocks
  source/stylesheets/all.css.scss
Due: deploy

Remove the Open Sans web fonts
  source/fonts/open-sans-semi-bold.woff2
  source/fonts/open-sans-v13-latin-ext_latin-regular.woff
  source/fonts/open-sans-v13-latin-ext_latin-regular.woff2
  source/stylesheets/all.css.scss
Due: deploy

Render CSS inline
  source/_head.html.haml
Due: deploy

Remove reset.css comment
  source/stylesheets/_reset.scss
Due: deploy

Remove a:visited color
  source/stylesheets/all.css.scss
Due: deploy

Update various dependencies
  Gemfile
  Gemfile.lock
Due: deploy

Update all dependencies
  Gemfile
  Gemfile.lock
Due: deploy

Disable Vale in a few older files
  source/articles/10-years-of-software-development.html.md
  source/articles/deciding-when-to-collect-garbage.html.md
  source/articles/libffi-rs-100.html.md
Due: lint:vale, deploy

Add "Friendship ended with the garbage collector"
  lib/inko_lexer.rb
  source/articles/friendship-ended-with-the-garbage-collector.html.md
  source/stylesheets/all.css.scss
Due: lint:vale, deploy

Reduce the line height of code blocks
  source/stylesheets/all.css.scss
Due: deploy

Remove mention about object graphs
  source/articles/friendship-ended-with-the-garbage-collector.html.md
Due: lint:vale, deploy

Clarify that `async` creates lightweight processes
  source/articles/friendship-ended-with-the-garbage-collector.html.md
Due: lint:vale, deploy

Make titles a little less bold
  source/stylesheets/all.css.scss
Due: deploy

Rephrase homepage a bit
  source/index.html.md
Due: deploy

Update GPG key
  source/gpg_key.txt
Due: deploy

Apply a content security policy
  source/_head.html.haml
Due: deploy

Add more CSP rules
  source/_head.html.haml
Due: deploy

Use a slightly lighter shade of black for text
  source/stylesheets/all.css.scss
Due: deploy

Add resume page
  config.rb
  source/_header.html.haml
  source/index.html.md
  source/layouts/article.haml
  source/layouts/layout.haml
  source/resume.html.md
  source/stylesheets/all.css.scss
Due: deploy

Don't escape the http-equiv tag
  source/_head.html.haml
Due: deploy

Fix CSP issues on the resume page
  source/resume.html.md
Due: deploy

Use black again for text
  source/stylesheets/all.css.scss
Due: deploy

Remove outdated note task
  Rakefile
Due: none

Add article about leaving GitLab
  lib/inko_lexer.rb
  source/articles/im-leaving-gitlab-to-work-on-inko-full-time.html.md
Due: lint:vale, deploy

Update homepage about what I'm working on
  source/index.html.md
Due: deploy

Set an explicit height for my profile picture
  source/layouts/home.haml
Due: deploy

Tweak link style
  source/stylesheets/all.css.scss
Due: deploy

Re-add link underlines
  source/stylesheets/all.css.scss
Due: deploy

Add SSH keys
  source/index.html.md
  source/ssh_keys.txt
Due: deploy

Remove frame-ancestors CSP rule
  source/_head.html.haml
Due: deploy

Reduce line heights of headings
  source/stylesheets/all.css.scss
Due: deploy

Update dependencies to deal with OpenSSL 3.0
  Gemfile
  Gemfile.lock
Due: deploy

Tweak the style of inline code blocks
  source/stylesheets/all.css.scss
Due: deploy

Update Ruby version used in CI
  docker/ruby/Dockerfile
Due: docker:ruby

Update Vale for CI
  docker/vale/Dockerfile
Due: docker:vale

Path conditions:
  docker:vale: any of: docker/vale/Dockerfile
  docker:ruby: any of: docker/ruby/Dockerfile
  lint:vale: any of: source/articles/**/*.html.md
  deploy: any of: config.rb, source/**/*, lib/**/*, Gemfile, Gemfile.lock
